body {
    background-color: black;
}
h1 {
    color: gold;
}

/* my classes */
#header-container {
    border: 3px solid #fff;
    padding: 20px;
    overflow: hidden;
}

#header-child {
    display: inline;
    width: 50%;
    padding: 20px;
    border: 2px solid red;
}

#logo-container {
    border-image: round;
    float: left;
}

#title-container {
    border-image: round;
    color: white;
    float: right;
}
